{% extends 'layouts/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block social_medias %}
    {% for social_media in social_medias %}
        {% if social_media.name|lower == 'spotify' %}
            <li>
                <a href="https://open.{{ social_media.name|lower }}.com/{{ social_media.slug }}" class="pl-0 pr-3" target="_blank"><span class="icon-{{ social_media.name|lower }}"></span></a>
            </li>
        {% else %}
            <li>
                <a href="https://{{ social_media.name|lower }}.com/{{ social_media.slug }}" class="pl-0 pr-3" target="_blank"><span class="icon-{{ social_media.name|lower }}"></span></a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}    
    <div class="site-section"  data-aos="fade">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="row mb-5">
                        <div class="col-12 ">
                            <h2 class="site-section-heading text-center">Latest Releases</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
        <div class="row">
            {% for song in songs %}
                <div class="col-lg-4">
                    <a href="{{ song.url }}" target="_blank">
                        <div class="image-wrap-2">
                            <img src="{{ song.cover_page.url }}" alt="Image" class="img-fluid"/>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <br/>
    <br/>
    <br/>
{% endblock %}